.parentTable{
    margin: 3rem;
}
table{
    width: 100%;
}
td{
    cursor: pointer;
}

button{
    background-color:rgb(63 81 181 / 83%) !important;
}
button:hover{
    background-color: #3f51b5 !important;
}

h1{
    font-size: 35px;
    font-weight: 400;
   color:rgb(0 0 0 / 75%);
    margin-top: 15px;
}
.pageTitle{
    margin: 0 3rem;
}
